{
  "tcp": {
    "routers": {
      "juju-{{ identifier }}-tcp-router": {
        "entryPoints": ["ldaps"],
        "rule": "{{ rule }}",
        "service": "juju-{{ identifier }}-tcp-service",
        "tls": {
          "passthrough": false
        }
      },
      "juju-{{ identifier }}-tcp-router-plain": {
        "entryPoints": ["ldap"],
        "rule": "HostSNI(`*`)",
        "service": "juju-{{ identifier }}-tcp-service"
      }
    },
    "services": {
      "juju-{{ identifier }}-tcp-service": {
        "loadBalancer": {
          "proxyProtocol": {
            "version": 2
          },
          "servers": [{ "address": "{{ app }}.{{ model }}.svc.cluster.local:{{ ldap_port }}" }]
        }
      }
    }
  }
}
