{
  "tcp": {
    "routers": {
      "juju-{{ identifier }}-tcp-router": {
        "entryPoints": ["ldaps"],
        "rule": "{{ rule }}",
        "service": "juju-{{ identifier }}-tcp-service",
        "tls": {
          "passthrough": false
        }
      }{% if expose_ldap_ingress %},
      "juju-{{ identifier }}-ldap-tcp-router": {
        "entryPoints": ["ldap"],
        "rule": "HostSNI(`*`)",
        "service": "juju-{{ identifier }}-tcp-service"
      }{% endif %}
    },

    "services": {
      "juju-{{ identifier }}-tcp-service": {
        "loadBalancer": {
          "proxyProtocol": {
            "version": 2
          },
          "servers": [{ "address": "{{ app }}.{{ model }}.svc.cluster.local:{{ ldap_port }}" }]
        }
      }
    }
  }
}
